.box
  overflow hidden
  padding-top: 2em

  h3
    font-size: 20px
    font-weight: normal
    font-style: italic
    width: 100%
    float: left
    color: #848484
    clear: both
  &-tamaño
    display:none
  &-tecnicas
    display:none
  @media (max-width: $screen-tablet)
    &-resColTwo
      .Card
        width: 50%;
        float: left;
        padding: 1rem;
    &-resColThree
      .Card
        width: 33%
        margin 0
        float: left;
        padding: 1rem;

.Card
  &-text
    position: absolute;
    margin-top: -23px;
    left: 0;
    display: block;
    height: 19px;
    overflow: hidden;
    margin-left: 10px;
    font-size: 11px;
    color: white;
    text-shadow: -1px 1px 1px #2F2F2F;
  &-content
    position: relative
  &-img
    width: 100%
  &-picture
    border-radius: 30px

@media (max-width: $screen-mobile)
  #Nosotros
    background url(../img/tama.jpg)
    background-size: cover

.Card--rowThird
  margin: 0 4%
  margin-bottom: 1rem;

.Cita
  text-align: center;
  background: rebeccapurple;
  margin: 0;
  padding: 16px;
  color: white;
  font-size: 14px;
