.contact
  background: $principalColor
  color: white
  overflow: hidden;
  &-info
    float: left
    width: 100%
    text-align: center
  &-rs
    float: left
    width: 100%
    text-align: center
    &-item
      width: 30px
  &-derechos
    clear: both
    text-align: center
