.contact
  background: $principalColor
  color: white
  overflow: hidden;
  margin-top: 40px
  &-info
    float: left
    width: 100%
    text-align: center
    margin-top: 25px;
  &-rs
    float: left
    width: 100%
    text-align: center
    &-item
      width: 30px
  &-derechos
    clear: both
    text-align: center

  &-resItem
    width: 60px;
    margin: 5px
    display: inline-block;
    img
      width: 100%
      cursor: pointer
