h3
  clear: both;

.fromOrder
  background-color #8D51CA
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px
  color white

  &-container
    float: left;
    padding: 0px 20px;

  &-msnAux
    width: 100%
    float: rigth

  label
    width: 75px;
    display: inline-block;
    font-size: 1.1em;

  input[type="text"],input[type="email"]
    width: 200px;
    display: inline-block;
    margin: 5px 2%;
    height: 13px;
    border: 1px #7b31af solid;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    padding: 3px 4px;

  textarea
    width: 94%
    display: block;
    margin: 0
    height: 120px
    border: 1px #7b31af solid;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 16px;
    padding: 10px;
    /* text-align: center; */
  input[type="submit"]
    width: 100px;
    height: 25px;
    color: white;
    background: purple;
    margin: 27px auto;
    display: block;
    cursor: pointer;

  &-inputContent
    text-align: left

  @media (min-width: $screen-tablet)

    &-container
      float: left;
      padding: 0px 2%

    &-msnAux
      width: 46%;
      float: left;
      padding: 0px 2%
