h3
  clear: both;

.fromOrder
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  label
    width: 20%;
    display: inline-block;
    font-size: 1.1em;

  input[type="text"],input[type="email"]
    width: 70%;
    display: inline-block;
    margin: 5px 2%;
    height: 13px;
    border: 1px #7B31AF solid;
    border-radius: 10px;
    padding 2px 4px

  textarea
    width: 100%;
    display: block;
    margin: 5px 2%;
    height: 120px;
    border: 1px #7b31af solid;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    font-size: 16px;
    padding: 10px;
    /* text-align: center; */
  input[type="submit"]
    width: 100px;
    height: 25px;
    color: white;
    background: purple;
    margin: 27px auto;
    display: block;
    cursor: pointer;
  
