.NavMain
  &-item
    display: inline
    padding: 0 10px
    vertical-align: middle
    a
      color: white
      line-height: 35px
      text-decoration: blink
  &-link
    cursor: pointer
  &-list
    background: #639;
    height: 35px;
    line-height: 28px;
    list-style: none;
    text-align: center;
    position: fixed;
    z-index: 5;
    width: 100%;


  @media (min-width: $screen-tablet)
    &-item
      display: block
      text-align: left
      :hover
        padding-right:10px
    &-list
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      height: auto
      left: 0
      list-style: none
      position: fixed
      top: 110px
      width: inherit
