.Slider
  background: $fondoBanckgroundSlider
  height: 450px

  &-content
    padding-top: 35px;

  &-item
    img
      display: none
      height: 450px
      margin: 0 auto

  &-item:first-child
    img
      display: block
  @media (min-width: $screen-tablet)
    &-content
      padding-top: 0px;
.slick
  &-dots
    list-style: none;
    position: relative;
    top: -50px;
    text-align: center;
    li
      display: inline-block
      margin-left:10px

    button
      border-radius: 10px;
      width: 15px;
      height: 15px;
      outline: none;
      color: transparent
      background: $principalColor

  &-active
    button
      background: white
      box-shadow: 1px 1px 7px black;
