

.topHeader
  margin: 0 auto

  h1
    text-align: center
    width: 50px
    height: 50px
    padding: 4px
    left: 25px
    top: 25px
    border-radius:30px
    color: white
    background: $principalColor
    font-size:15px
    position:absolute
    z-index:2
    font-family: cursive;

  @media (min-width: $screen-tablet)
    position: fixed
