/*!
 * Main styles
 *
 */

@import "nib"
@import "grid"
@import "utilities"

vendor-prefixes = webkit o ms moz official

/*
 * ------------------------------
 * General
 * ------------------------------
 */

body
	div
		margin-top: 30px
