/*!
 * Main styles
 *
 */

@import "nib"
@import "grid"
@import "utilities"
@import "normalize"


vendor-prefixes = webkit o ms moz official

/*
 * ------------------------------
 * General
 * ------------------------------
 */
@import "variables"

 /*
  * ------------------------------
  * Components
  * ------------------------------
  */

@import "components/Slider"
@import "components/NavMain"
@import "components/topHeader"
@import "components/box"
@import "components/formOrden"
@import "components/contac"
